body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(135deg,#1e293b,#0ea5e9);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.form-container{

background:white;
padding:40px;
border-radius:10px;
width:700px;

box-shadow:0 10px 25px rgba(0,0,0,0.25);

}

h2{
text-align:center;
margin-bottom:30px;
}

/* Grid layout */

.form-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}

/* Input */

.input-group{

display:flex;
flex-direction:column;

}

.input-group label{

font-size:14px;
margin-bottom:6px;

}

.input-group input,
.input-group select{

padding:10px;
border:1px solid #ccc;
border-radius:6px;

font-size:14px;

}

/* Buttons */

.button-group{

margin-top:25px;
display:flex;
justify-content:flex-end;
gap:15px;

}

.cancel-btn{

background:#e5e7eb;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;

}

.save-btn{

background:#2563eb;
border:none;
color:white;
padding:10px 20px;
border-radius:6px;
cursor:pointer;

}

.save-btn:hover{

background:#1d4ed8;

}
.mobile-box{
display:flex;
align-items:center;
border:1px solid #ccc;
border-radius:6px;
overflow:hidden;
}

.country-code{
background:#f1f5f9;
padding:10px;
border-right:1px solid #ccc;
font-size:14px;
}

.mobile-box input{
border:none;
outline:none;
padding:10px;
flex:1;
}