body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(120deg,#0b346c,#0ea5e9);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
width:100%;
max-width:550px;
max-height: 80%;
}

.login-box{
background:white;
padding:35px;
border-radius:25px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;
}

.login-box h2{
margin-bottom:5px;
}

.login-box p{
color:gray;
font-size:14px;
margin-bottom:25px;
}

.input-group{
text-align:left;
margin-bottom:15px;
}

.input-group label{
font-size:14px;
}

.input-group input{
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:5px;
}

.register-btn{
width:100%;
padding:12px;
background:#0ea5e9;
border:none;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

.register-btn:hover{
background:#0284c7;
}

.login-link{
margin-top:15px;
font-size:14px;
}

.login-link a{
color:#0ea5e9;
text-decoration:none;
}